html {
  box-sizing: border-box;
  background-color: #D3DEF2;
}

*, *::after, *::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html, 
body {
  height: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}


.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;

}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 300;
}

/* header */

.header__inner {
  padding-top: 40px;
  padding-bottom: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
}

.logo__img:hover {
  opacity: 0.8;
}

.logo-text {
  padding: 0 0 0 20px;
  font-size: 32px;
  font-weight: 800;
}

.menu__list {
  display: flex;
  align-items: center;
  gap: 50px;
}


.menu__list-item-btn {
  width: 160px;
  height: 50px;
  background-color: #3786BE;
  border-radius: 15px;
  
}

.menu__list-item-btn:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  opacity: 0.9;
}

.menu__list-link {
  color: #000;
}

.menu__list-link-btn {
  display: flex;
  color: #fff;
  padding: 13px;
}


/* footer */

.footer {
  background-color: #323131;
  padding: 60px 0;
  color: #fff;
}

.footer__menu {
  display: flex;
  justify-content: space-around;
}

.footer__menu-item + .footer__menu-item {
  padding-top: 30px;
}

.footer__menu-link {
  font-size: 20;
  font-weight: 300;
}

.footer__menu-link:hover {
  opacity: 0.8;
}

.footer__menu-list-logo {
  display: flex;
  align-items: center;
}

.main {
  flex-grow: 1;
}

/* main */

.first {
  display: flex;
  justify-content: space-between;
  height: 600px;
  margin-bottom: 120px;
}

.left {
  max-width: 560px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.first__text {
  font-size: 44px;
  font-weight: 800;
  font-style: italic;
}

.first__description {
  font-weight: 300;
  margin-top: 5px;
  line-height: 40px;
}

.first__button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 91px;
  width: 320px;
  border-radius: 15px;
  background-color: #3786BE;
  margin-top: 30px;
  font-weight: 500;
  color:#fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.first__button:hover, .second__btn-txt:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  opacity: 0.9;
}

.first__photo {
  width: 600px;
  border-radius: 90px;
}

/* 1st page > 2nd block*/

.first__second {
  height: 810px;
  margin-bottom: 115px;
}

.title {
  display: flex;
  justify-content: center;
  font-size: 44px;
  padding-bottom: 30px;
}

.group {
  display: flex;
  justify-content: space-between;
  height: 300px;
  width: 1200px;
  border: 5px solid #000;
  border-radius: 15px;
}

.group + .group {
  margin-top: 30px;
}

.group__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px 0 15px 20px;
  width: 900px;
}

.group__title {
  font-size: 32px;
  font-weight: 700px;
  padding-bottom: 10px;
}
.description {
  font-weight: 400px;
  line-height: 30px;
  padding-bottom: 15px;
}
.group__statusbar {
  display: flex;
  height: 50px;
  justify-content: space-between;
}
.group__statusbar-user {
  display: flex;
  align-items: center;
}
.group__statusbar-user-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  padding-right: 10px;
}
.group__statusbar-user-name {
  font-weight: 300;
}
.group__statusbar-status {
  display: flex;
  align-items: center;
  gap: 30px;
}

.group__img {
  border-radius: 0 15px 15px 0;
}

.second__btn-txt {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  line-height: 40px;
  color: #fff;
  height: 60px;
  width: 1100px;
  background-color: #3786BE;
  border-radius: 15px;
  margin: 50px auto ;
}

/* 2nd page >1st block */

.all__problems-title {
  display: flex;
  justify-content: center;
  font-size: 36;
  font-weight: 800px;
  margin-bottom: 40px;
}

.button__txt {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  line-height: 40px;
  color: #fff;
  height: 60px;
  width: 1100px;
  background-color: #3786BE;
  border-radius: 15px;
  
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 100px;
}

.button__txt:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  opacity: 0.9;
}

.all__problems-list {
  display: flex;
  flex-direction: column;
  gap: 60px;
}



/*main-auth*/

.menu__list-item-btn-exit {
  width: 125px;
  height: 50px;
  background-color: #3786BE;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu__list-item-btn-exit:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  opacity: 0.9;
}

.main-user-logo {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  height: 92px;
  padding-right: 20px;
}

.menu__list-link-btn-exit {
  display: flex;
  color: #fff;
  padding: 15px;
}

.user-avatar:hover {
  opacity: 0.8;
}